body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px; /* Makes the name very big */
    color: #ce0000;  /* Industrial red color */
}

.btn {
    display: block;
    font-size: 22px; /* Makes buttons easy to tap */
    padding: 20px;
    margin: 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

